.nav {
  width: 100%;
  margin: 0;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav img {
  margin-top: 20px;
  margin-left: 40px;
  width: 100px;
  height: 100px;
  border: solid black;
  border-radius: 150px;
}
.nav-menu-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-menu-icon .nav-menu {
  cursor: pointer;
  display: flex;
  list-style: none;
  font-weight: 550;
}
.nav-menu-icon .nav-menu li {
  padding-right: 50px;
  position: relative;
}
.nav-menu-icon .nav-menu li:hover .nav-menu-item {
  visibility: visible;
  opacity: 1;
  height: 120px;
}
.nav-menu-icon .nav-menu li:hover .nav-menu-item li {
  opacity: 1;
}
.nav-menu-icon .nav-menu-item {
  height: 0px;
  z-index: 1;
  padding-left: 20px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  list-style-type: none;
  top: 40px;
  left: -10px;
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.7s, visibility 0s 0.2s, height 0.6s;
}
.nav-menu-icon .nav-menu-item a {
  text-decoration: none;
  transition: color 0.2s;
  color: rgb(41, 138, 149);
}
.nav-menu-icon .nav-menu-item li {
  padding-bottom: 22px;
  padding-right: 20px;
  opacity: 0;
  transition: opacity 0.5s;
}
.nav-menu-icon .nav-menu-item:first-child {
  padding-top: 10px;
}
.nav-menu-icon .nav-menu-item a:hover {
  color: #c7a17a;
}
.nav-menu-icon .nav-icon {
  margin-right: 30px;
  cursor: pointer;
}
.nav-menu-icon .nav-icon i {
  padding-left: 30px;
}
.nav-menu-icon .nav-icon i:nth-child(2):hover {
  opacity: 0.6;
  transition: opacity 0.5s;
}
.nav-menu-icon .nav-icon i:nth-child(3):hover {
  opacity: 0.6;
  transition: opacity 0.5s;
}
.nav-menu-icon .nav-icon .fa-cart-shopping {
  position: relative;
}
.nav-menu-icon .nav-icon .count-item-cart:hover .show-cart {
  visibility: visible;
  height: 80px;
}
.nav-menu-icon .nav-icon .count-item-cart {
  width: 15px;
  height: 15px;
  background-color: #c7a17a;
  position: absolute;
  right: -5px;
  top: -14px;
  color: rgb(0, 0, 0);
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
  font-weight: 550;
}

.nav-menu-item li:nth-child(1) {
  transition-delay: 0.25s;
}

.nav-menu-item li:nth-child(2) {
  transition-delay: 0.35s;
}

.nav-menu-item li:nth-child(3) {
  transition-delay: 0.45s;
}

h2 {
  margin-left: 40px;
}

* {
  font-family: arial;
}

.container-cart {
  margin-left: 40px;
  display: grid;
  grid-template-columns: 740px 350px;
  row-gap: 15px;
  column-gap: 14px;
  font-family: arial;
}
.container-cart .container-order-infomation {
  margin-bottom: 100px;
}
.container-cart .container-order-infomation .order-infomation {
  height: 270px;
  margin-bottom: 10px;
  padding-top: 22px;
  padding-left: 18px;
  border: solid 1px rgb(195, 191, 191);
  border-radius: 5px;
}
.container-cart .container-order-infomation .order-infomation .delivery-date {
  color: rgb(3, 103, 3);
  font-size: 18px;
  font-family: arial;
  font-weight: bold;
}
.container-cart .container-order-infomation .order-infomation .product-infomation {
  margin-top: 15px;
  display: flex;
}
.container-cart .container-order-infomation .order-infomation .product-infomation img {
  width: 130px;
  height: 135px;
}
.container-cart .container-order-infomation .order-infomation .product-infomation .product-details {
  margin-left: 15px;
  width: 200px;
}
.container-cart .container-order-infomation .order-infomation .product-infomation .product-details .product-name {
  margin-bottom: 8px;
  font-weight: bold;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
}
.container-cart .container-order-infomation .order-infomation .product-infomation .product-details .product-price {
  color: rgb(150, 7, 7);
  font-weight: bold;
  margin-bottom: 8px;
}
.container-cart .container-order-infomation .order-infomation .product-infomation .product-details .edit-quantity {
  cursor: pointer;
  margin-top: 10px;
}
.container-cart .container-order-infomation .order-infomation .product-infomation .product-details .edit-quantity .update-quantity {
  color: rgb(85, 85, 255);
}
.container-cart .container-order-infomation .order-infomation .product-infomation .product-details .edit-quantity .js-update-quantity input {
  width: 40px;
}
.container-cart .container-order-infomation .order-infomation .product-infomation .product-details .edit-quantity .js-update-quantity .save-input {
  color: rgb(85, 85, 255);
}
.container-cart .container-order-infomation .order-infomation .product-infomation .product-details .edit-quantity .delete-product {
  color: red;
}
.container-cart .container-order-infomation .order-infomation .product-infomation .delivery-options {
  margin-left: 150px;
}
.container-cart .container-order-infomation .order-infomation .product-infomation .delivery-options .delivery-option-title {
  font-size: 20px;
  font-weight: bold;
  font-family: "PT Sans Narrow", sans-serif;
  margin-bottom: 3px;
}
.container-cart .container-order-infomation .order-infomation .product-infomation .delivery-options .delivery-option {
  margin-top: 10px;
  display: flex;
}
.container-cart .container-order-infomation .order-infomation .product-infomation .delivery-options .delivery-option input {
  width: 22px;
}
.container-cart .container-order-infomation .order-infomation .product-infomation .delivery-options .delivery-option .delivery-option-date {
  color: rgb(3, 103, 3);
  font-weight: bold;
}
.container-cart .container-order-infomation .order-infomation .product-infomation .delivery-options .delivery-option .delivery-option-price {
  margin-top: 5px;
  color: rgb(93, 90, 90);
}
.container-cart .payment-summary {
  height: 270px;
  border: solid 1px rgb(195, 191, 191);
  border-radius: 5px;
  padding: 16px 0 0 16px;
}
.container-cart .payment-summary-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 12px;
}
.container-cart .payment-summary-row {
  display: flex;
  justify-content: space-between;
  margin-top: 9px;
}
.container-cart .payment-summary-row .payment-summary-money {
  margin-right: 17px;
}
.container-cart .payment-summary .dash-1 {
  margin-top: 8px;
  margin-left: 265px;
  width: 50px;
  height: 1px;
  background-color: rgb(223, 222, 222);
}
.container-cart .payment-summary .dash-2 {
  margin-top: 15px;
  margin-right: 17px;
  flex-grow: 1;
  height: 1px;
  background-color: rgb(223, 222, 222);
}
.container-cart .payment-summary .total-money {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-family: arial;
}
.container-cart .payment-summary .total-money div {
  color: rgb(153, 4, 4);
}
.container-cart .payment-summary .total-money .money {
  margin-right: 15px;
}
.container-cart .payment-summary .place-order-button {
  margin-top: 12px;
  background-color: rgb(255, 216, 20);
  border: 1px solid rgb(252, 210, 0);
  width: 95%;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
}

body {
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 180px;
  margin-right: 175px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}/*# sourceMappingURL=main_orders.css.map */